In [1]:
#import nessecerry libraries

import pandas as pd

In [2]:
df = pd.read_csv('mount_everest_deaths.csv')

In [3]:
df.head(10)

,No.,Name,Date,Age,Expedition,Nationality,Cause of death,Location
0,1,Dorje,"June 7, 1922",NaN,1922 British Mount Everest Expedition,Nepal,Avalanche,Below North Col
1,2,Lhakpa,"June 7, 1922",NaN,1922 British Mount Everest Expedition,Nepal,Avalanche,Below North Col
2,3,Norbu,"June 7, 1922",NaN,1922 British Mount Everest Expedition,Nepal,Avalanche,Below North Col
3,4,Pasang,"June 7, 1922",NaN,1922 British Mount Everest Expedition,Nepal,Avalanche,Below North Col
4,5,Pema,"June 7, 1922",NaN,1922 British Mount Everest Expedition,Nepal,Avalanche,Below North Col
5,6,Sange,"June 7, 1922",NaN,1922 British Mount Everest Expedition,Nepal,Avalanche,Below North Col
6,7,Temba,"June 7, 1922",NaN,1922 British Mount Everest Expedition,Nepal,Avalanche,Below North Col
7,8,Man Bahadur,"May 13, 1924",NaN,1924 British Mount Everest Expedition,Nepal,Pneumonia,Above Rongbuk B.C.
8,9,Lance-Naik Shamsherpun,"May 17, 1924",NaN,1924 British Mount Everest Expedition,Nepal,Brain hemorrhage,Above Rongbuk B.C.
9,10,Andrew Irvine,"June 9, 1924",22.0,1924 British Mount Everest Expedition,United Kingdom,Unknown. Body never found,N.E. Ridge

In [8]:
from pandas_profiling import ProfileReport
proof = ProfileReport(df)
proof.to_file(output_file='mount_everest_deaths.csv')

ModuleNotFoundError: No module named 'pandas_profiling'